body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #4169e1;
    text-align: center;
}

h2 {
    color: green;
    font-size: 25px;
    text-align: center;
}

.container1 {
    padding: 70px;
}